---
import Layout from '../components/layout.astro';
import Block from '../components/block.astro';
import Step from '../components/step.astro';
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

</style>

<Layout
  title="JH Chang"
  description="Hi, I'm Jeff, a full-stack developer and operations manager passionate about clean design, elegant code, and the combination of two."
  home
>
  <Block 
  title="Block Test"
  description="this is a block description"
  fullsize=true
  ></Block>
  <main class="steps">
    <Step
    title="Deploy Previews!!"
    link="/deploy-previews"
    srtext="about Deploy Previews"
    >Every pull request is automatically built in an identical-to-production environment for <strong>painless QA, feedback, and review.</strong></Step>
  
    <Step
    title="Instant Rollbacks!"
    link="/instant-rollbacks"
    srtext="about Instant Rollbacks"
    >Confidently ship to production with the knowledge that it’s a
    one-click operation to roll back to a previous version of the site.
    <strong>Instant disaster recovery!</strong></Step>

    <Step
    title="Netlify Functions..."
    link="/functions"
    srtext="about Netlify Functions"
    ><strong>Serverless functions are superpowers for web developers!</strong>
    Securely handle server-like requirements at any scale with no
    provisioning, scaling, or ops overhead.</Step>

    <Step
    title="Netlify Forms!"
    link="/netlify-forms"
    srtext="about Netlify Forms"
    >Handle user input with a single line of code. Netlify Forms allow
    any HTML form to <strong>accept submissions, send notification emails, and trigger custom events.</strong></Step>

  </main>
</Layout>
